
/* Added CSS for sidenav*/
body {
    font-family: "Roboto", sans-serif;
    color: #5C5444;
    background-color: #DDC9A4;
  }

  #content {
      font-family: "Roboto", sans-serif;
      color: #5C5444;
      font-size: 16px;
      display: flex;
      float: right;
      overflow: auto;
      width: 100%;
  }

  .sidenav {
    width: 25%;
    position: fixed;
    float: left;
    z-index: 1;
    bottom: 50px;
    left: 0;
    overflow-x: hidden;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-variant-caps: small-caps;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant-caps: small-caps;
    color: #5C5444;
    display: block;
  }
  
  .sidenav a:hover {
    color: black;
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Button Auto Layout */
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

    position: relative;
    width: 102px;
    height: 49px;

    background: #FFFFFF;
    border-radius: 5px;
}