
/* Added CSS for sidenav*/
body {
    font-family: "Roboto", sans-serif;
    color: #5C5444;
    background-color: #DDC9A4;
  }

  #content {
      font-family: "Roboto", sans-serif;
      color: #5C5444;
      font-size: 16px;
      display: flex;
      float: right;
      overflow: auto;
      width: 100%;
  }

  .sidenav {
    width: 25%;
    position: fixed;
    float: left;
    z-index: 1;
    bottom: 50px;
    left: 0;
    overflow-x: hidden;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-variant-caps: small-caps;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant-caps: small-caps;
    color: #5C5444;
    display: block;
  }
  
  .sidenav a:hover {
    color: #DDC9A4;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Button Auto Layout */
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

    position: relative;
    width: 102px;
    height: 49px;

    background: #FFFFFF;
    border-radius: 5px;
}
/* Name Hover State */
#name{
    position: sticky;
    width: 518px;
    height: 75px;
}
#nameHover{
    position: static;
    width: 508px;
    height: 65px;
    left: 5px;
    top: 5px;

    font-family: Zilla Slab Highlight;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 105%;
/* or 63px */
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    font-variant: small-caps;
/* Iris/100 */
    color: #5D5FEF;
/* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 10px;
}